/** Layout and non-color design tokens */
:root {
  --font-family-base: "Barlow", "Inter", -apple-system, blinkmacsystemfont, "Segoe UI", roboto, oxygen, ubuntu, cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  --font-family-mono: "Fira Code", source-code-pro, menlo, monaco, consolas, "Courier New", monospace;
  --font-family-display: "Mulish", ui-sans-serif, system-ui, sans-serif;

  --z-index-navbar: 10;
  --z-index-sidebar: 6;

  --shadow-rgb: 0, 0, 0;
  --shadow-header: 0 6px 10px rgba(var(--shadow-rgb), .06), 0 3px 6px rgba(var(--shadow-rgb), .08);
  --shadow-totop: 0 0 5px 2px rgba(var(--shadow-rgb), .15), 0 0 8px 1px rgba(var(--shadow-rgb), .1);
  --shadow-bullet: 0 0 5px 4px rgba(var(--shadow-rgb), .35), 0 0 8px 4px rgba(var(--shadow-rgb), .1);

  --header-height: 2.5rem;
  --sidebar-width: 16rem;
  --sections-sidebar-width: 16rem;
  --code-line-height: 24px;
  --code-font-family: var(--font-family-mono);
  --code-font-size: 14px;
}
